<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Give your products a competitive edge</h3>
                <h1>BLAZING PENCILS</h1>
                <h2>INDUSTRIAL DESIGN</h2>
                <h5>Sketches, Renders, 3-D Modeling, Product Graphics,</h5> 
                <h5>UI Design, Branding, and Rapid Prototyping</h5>
            </div>
            <!--div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>!-->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
